{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>Our Team</h1>

    <!-- <p> Everett Patrick Foster</p>  -->

    <pre>       
        <b>Will Everett                                 Patrick Foster                                  Franceso Zeolla</b> </pre>

    <!-- <ul>
        <li>Navigate between pages</li>
        <li>Check the weather</li>
        <li>Sign up for email weather reports</li>
    </ul> -->
<!-- 
    <head>
        <title>HTML img Tag</title>
     </head> -->
  
     <body>
         <pre> <img src="https://media-exp1.licdn.com/dms/image/C5603AQHSpRI91W0ocw/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=b2D7cDkIKGFv6i4kEzxqlOZSpiVi_S4Iar4a8Cfn3ag" alt="Will LinkedIn Pic" width="200" height="200">                       <img src="https://media-exp1.licdn.com/dms/image/C4E03AQE_U95sJR6EOg/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=KDg0CyDbhzPP9YQsJs4xWVmEVOdi0O0WBEiiLRlslM4" alt="Patrick LinkedIn Pic" width="200" height="200">                         <img src="https://instagram.foma1-1.fna.fbcdn.net/v/t51.2885-19/s320x320/72223371_431769817463785_812002831899820032_n.jpg?_nc_ht=instagram.foma1-1.fna.fbcdn.net&_nc_ohc=gOPISUBN7GMAX8iQhh_&oh=2e037bf5a5d8c5805e8c400e27698791&oe=5ED21445" alt="Francesco Insta Pic" width="200" height="200">
        
Junior at Georgetown University               Junior at Georgetown Universtiy               Junior at Georgetown Universtiy
studying OPIM, Finance, and CS                studying OPIM, CS, and Economics              studying OPIM, Marketing, CS, and Math
        
        </pre>
        
     </body>
    
{% endblock %}