{% extends "bootstrap_layout.html" %}
{% set active_page = "handicap_form" %}

{% block content %}
    <br>

    <style>
        ::placeholder {
          color: gray;
        }
    </style>

    <h2>View Handicap</h2>

    <p>Enter the email your scores are associated with to view your handicap</p>

    <form action="/handicap/results" method="POST">

        <label>Email:</label>
        <input type="text" name="email" placeholder="me@example.com">
        <br>

        <button>Submit</button>
    </form>

{% endblock %}