{% extends "bootstrap_layout.html" %}
{% set active_page = "register" %}

{% block content %}

    <h2>New User Registration</h2>

    <p>Sign up to become a member / have access to our app</p>

    <form action="/users/create" method="POST">

        <label>Email Address:</label>
        <input type="text" name="email_address" placeholder="me@example.com" value="me@example.com">
        <br>

        <label>First Name:</label>
        <input type="text" name="first_name" placeholder="Example User" value="Example User">
        <br>

        <label>Last Name:</label>
        <input type="text" name="last_name" placeholder="Example User" value="Example User">
        <br>


        <label>Date:</label>
        <input type="text" name="date" placeholder="xx-xx-xxxx" value="xx-xx-xxxx">
        <br>
   

        <label>Golf Course:</label>
        <select name="golf_course">
            <option value="Firethorn Golf Course" selected="true">Firethorn Golf Course</option>
            <option value="xyz">xyz</option>
            <option value="abc">abc</option>
            <option value="123">123</option>
        </select>
        <br>

        <label>Score:</label>
        <input type="score" name="score" placeholder="number" value="i.e. 60">
        <br>  
        
        <label>Rating:</label>
        <input type="rating" name="rating" placeholder="number" value="i.e. 70">
        <br>    

        <label>Slope:</label>
        <input type="slope" name="slope" placeholder="slope" value="i.e. 115">
        <br>    

        <button>Submit</button>
    </form>
{% endblock %}